[data-theme="dark"] {
    --bg-color: #1f1f29;
    --text-color: #d8e7f0;
    --titulo-color: #96a2b3;
    --subtitle-color: #596070;
    --links-color: #96a2b3;

    --cv-color: #bfcddf;
    --icon-color: #96a2b3;
    --accent-color: #413a42;
    --border-color: #596070;
    --caption-color:      #888;

    --btn-hover-color: #96a2b3;
    --btn-project-color: #3b4c72;
    --highlight-color:    #24243d;

    --button-color: #596070;
    --shadow-color: #413a42;
    --tag-fg-color: #eaf0d8;
    --tag-bg-color: #413a42;
    --tag-bg-hover-color: #596070;
    --read-more-color: #96a2b3;
}


[data-theme="light"] {
    --bg-color: #ebf9ff;
    --text-color: #18284a;
    --titulo-color: #52a5de;
    --subtitle-color: #acd6f6;
    --links-color: #52a5de;

    --cv-color: #93c7e9;
    --icon-color: #52a5de;
    --accent-color: #18284a;
    --border-color: #acd6f6;
    --caption-color:      #888;

    --btn-hover-color: #52a5de;
    --btn-project-color: #0065a0;
    --highlight-color:    #1d1d2d;

    --button-color: #18284a;
    --shadow-color: #070810;
    --tag-fg-color: #ebf9ff;
    --tag-bg-color: #18284a;
    --tag-bg-hover-color: #52a5de;
    --read-more-color: #52a5de;
}